    <h1 class="titulo-redes-sociales">Redes Sociales</h1>    
    <div class="redes-sociales">
        <div class="redes">
            <div class="social">
                 <i class="fa fa-facebook-f icon"></i>
                 <h2 class="texto-red">Facebook</h2>
            </div>
           
        </div>
        <div class="redes">
            <div class="social">
                <i class="fa fa-twitter icon"></i>
                <h2 class="texto-red">Twitter</h2>
            </div>
        </div>
        <div class="redes">
            <div class="social">
                <i class="fa fa-instagram icon"></i>
                <h2 class="texto-red">Instagram</h2>
            </div>
        </div>
    </div>
