<div class="nosotros">
        <h1>Informacion</h1> 
    <div class="nosotrosimg">
        <img src="/img/sede3.jpg" alt="Odontologo en plena operacion ortodoncista" style="width: 100%;" style="height: 100%;"> 
        <h1 class="texto-nosotros">¿Que es Arte Oral?</h1>
        <h2 class="texto-nosotros">Somos una empresa reconocida por nuestros exelentes  servicios</h2>
        <h2 class="texto-nosotros">y protocolos de higiene en nuestros tratamientos</h2>
    </div>

