 <div class="sede">
        <img src="/img/sede1.jpg" alt="" class="imagen-sede">
        <div>
            <h2 class="texto-sede grande">Sede Principal</h2>
            <h3 class="texto-sede pequeño">Cra. 47a ##118-27, Bogotá</h3>
        </div>
        
     </div>
     <div class="sede">
        <img src="/img/sede2.jpg" alt="" class="imagen-sede">
        <div>
            <h2 class="texto-sede grande">Sede del Norte</h2>
            <h3 class="texto-sede pequeño">Av. Boyacá #80-94, Bogota</h3>
        </div>
     </div>
     <div class="sede">
        <img src="/img/sede3.jpg" alt="" class="imagen-sede">
        <div>
            <h2 class="texto-sede grande">Sede de Villa Luz</h2>
            <h3 class="texto-sede pequeño">Ak. 86 ## 55 A 75, Bogota</h3>
        </div>
     </div>