<main class="index">
  <h1 class="titulo">Servicio</h1>
    <div class="menuservicios">
        <div class="flecha izquierda">
            <i class="fa fa-chevron-left"></i>
        </div>
            <div class="servicios" >
               <img src="img/Diseno-sonrisa.jpg" alt="">
            </div>
        <div class="flecha derecha">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <h1 class="titulo">Novedades</h1>
    <div class="menuservicios2">
        <img src="img/logo2.png" alt="" class="imagen2">
        <div class="titulo3">
            <div class="palabra1">Cambio de diseño</div>
            <div class="palabra2">Modernizacion del logo</div>
            <div class="palabra3">de la empresa</div>
        </div>
        
    </div>
</main>