.titulo-redes-sociales{
    margin-top:40px;
    text-align: center;
    font-size:40px;
}

.redes-sociales{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.redes{
    border: solid 3px black;
    border-radius:10px;
    height:310px;
    width:345px;
    
}

.social{
    font-size:200px;
    text-align: center;
    margin-top:0px;
}

.texto-red{
    font-size:30px;
    margin-top: 50px;
}