<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <form action="/signinod" method="POST" class="card card">
        <h3 class="text-center card-header titulo-iniciarsesion">Iniciar Sesion Odontologo</h3>
        <div class="card-body">
        <img
          src="/img/logo2.png"
          alt="Logo Fazt"
          class="card-img-top mx-auto m-2 w-100"
        />
          <label for="username"> Escribe tu Numero de identidad:</label>
          <input
            type="text"
            name="username"
            placeholder="Numero de identidad"
            class="form-control mb-3"
            autofocus
          />

          <label for="password"> Escribe tu Contraseña:</label>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control mb-3"
            />
          </div>
          <button class="btn btn-primary btn-block centersingin">
            Login
          </button>

        </div>
      </form>

      {{! Link }}
      <p class="fs-5 text-center mt-3">No tiene Cuenta?
        <a href="/signupod">Registrarse</a>
      </p>
       <p class="fs-5 text-center mt-3">Apartado de Pacientes
        <a href="http://localhost:4000/">Pacientes</a>
      </p>
    </div>
  </div>
</div>