<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form class="card" action="/signupod" method="POST">
        <div class="card-header titulo-iniciarsesion">
          <h3 class="text-center">SignUp Odontologo</h3>
        </div>
        <div class="card-body">
          <!--
          <label for="fullname"> Escribe tu fullname:</label>
          <input
            type="type"
            name="fullname"
            placeholder="John Doe"
            class="form-control mb-3"
            autofocus
          />
          -->
          <label for="od_nombre"> Escribe tu Apellido:</label>
          <input
            type="text"
            name="od_nombre"
            placeholder="Nombre"
            class="form-control mb-3"
          />
          <label for="od_apellido"> Escribe tu Apellido:</label>
          <input
            type="text"
            name="od_apellido"
            placeholder="Apellido"
            class="form-control mb-3"
          />
          <label for="idestadocivil"> Escribe tu Estado Civil:</label>
          <input
            type="number"
            name="idestadocivil"
            placeholder="Estado Civil"
            class="form-control mb-3"
          />
          <label for="idgenero"> Escribe tu Genero:</label>
          <input
            type="number"
            name="idgenero"
            placeholder="Genero"
            class="form-control mb-3"
          />
          <label for="idtipoidentidad"> Escribe tu Tipo de identidad:</label>
          <input
            type="number"
            name="idtipoidentidad"
            placeholder="Tipo de identidad"
            class="form-control mb-3"
          />
          <label for="idrh"> Escribe tu Tipo de RH:</label>
          <input
            type="number"
            name="idrh"
            placeholder="RH"
            class="form-control mb-3"
          />
           <label for="idConsultorio"> Escribe tu Consultorio:</label>
          <input
            type="number"
            name="idConsultorio"
            placeholder="Consultorio"
            class="form-control mb-3"
          />
          <label for="od_direccion"> Escribe tu Direccion:</label>
          <input
            type="text"
            name="od_direccion"
            placeholder="Direccion"
            class="form-control mb-3"
          />
          <label for="od_telefonocelular"> Escribe tu Telefono Celular:</label>
          <input
            type="text"
            name="od_telefonocelular"
            placeholder="Telefono celular"
            class="form-control mb-3"
          />
          <label for="od_especialidad"> Escribe tu Especialidad:</label>
          <input
            type="text"
            name="od_especialidad"
            placeholder="Especialidad"
            class="form-control mb-3"
          />
          <label for="od_fechanacimiento"> Escribe tu Fecha de Nacimiento:</label>
          <input
            type="date"
            name="od_fechanacimiento"
            placeholder="Fecha de Nacimiento"
            class="form-control mb-3"
          />
          <label for="od_correo"> Escribe tu Correo:</label>
          <input
            type="email"
            name="od_correo"
            placeholder="Correo electronico"
            class="form-control mb-3"
          />
          <label for="od_NTP"> Escribe tu Numero tarjeta profesional:</label>
          <input
            type="text"
            name="od_NTP"
            placeholder="Numero tarjeta profesional"
            class="form-control mb-3"
          />
          <label for="username"> Escribe tu Username:</label>
          <input
            type="text"
            name="username"
            placeholder="Numero de identidad"
            class="form-control mb-3"
          />
          <label for="password"> Escribe tu password:</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control mb-3"
          />
          <button class="btn btn-success btn-block center">
            Register
          </button>
        </div>
      </form>

      {{! Link }}
      <p class="fs-5 text-center mt-3">Ya tienes una Cuenta?
        <a href="/signinod">Signin</a>
      </p>
      <p class="fs-5 text-center mt-3">Apartado de Pacientes
        <a href="http://localhost:4000/">Pacientes</a>
      </p>
    </div>
  </div>
</div>